*{
	margin:0;
	padding:0;
}

html, body {
	height:100%;
}

body {
	background-color:#0c0129;
	background-image:url("../images/back.jpg");
	background-position:center;
	background-size:cover;
}

.heading {
	height:280px;
	position: static;
	margin:auto;
	position:absolute;
	top:0px; bottom:0px; right:0px; left:0px;
	
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.title1 {
	display: block;
	text-align: center;
	color:white;
	font-size:50pt;
	font-family:bit john;
	
	cursor: default;
}

.title2 {
	display: block;
	margin-top:15px;
	text-align: center;
	color: white;
	font-size:14pt;
	font-family:serif;
	
	cursor: default;
}

.table {
	margin-top:2px;
	margin-left: auto;
	margin-right: auto;
	color: black;
	font-family: Lato-Bold;
	font-size:15px;
	width: 100%;
	max-width: 100vw;
	line-height: 1.4;
	
	border-collapse: collapse;
	border-spacing: 2px;
	border-color: grey;
	
	cursor: default;
}

.table, tr {
	background-color:#6c7ae0;
	
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
	
	border-collapse: collapse;
}

.table, tr:nth-child(even) {
	background-color:#E5E5E5;
	
	cursor: default;
}

.table, tr:nth-child(odd) {
	background-color:white;
	
	cursor: default;
}

.table, tr:first-child {
	background-color:#6c7ae0;
	
	cursor: default;
}

.table, td {
	color: #808080;
	
	padding-top: 4px;
    padding-bottom: 4px;
	
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	
	cursor: default;
}

.table, td, a {
	color: #808080;
}

.table, th {
	color: #fff;
	font-size:18px;
	
	text-align: left;
	padding-top: 12px;
    padding-bottom: 12px;
}

.column1 {
	width: 75%;
    padding-left: 40px;
	
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.column2 {
	width: 25%;
	
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.column3 {
	width: 25%;
	padding-left: 10px;
	
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.start {
	margin: 25px auto;
	display: block;
	width:100px;
	height:50px;
	border:3px solid white;
	background-color:rgba(255, 255, 255, 0);
	color:white;
	font-family:sans-serif;
	font-weight: bold;
	border-radius: 5px;
	
	transition:background-color 1000ms, color 1000ms;
}

.start:hover {
	background-color:rgba(255, 255, 255, 1);
	color:#222;
	cursor:pointer;
	
	transition:background-color 1000ms, color 1000ms;
}

.start:focus { outline:none; }

.left_right {
	margin: auto;
	display:block;
	width:204px;
	height:30px;
	
	padding-bottom: 12px;
}

.left_right_btn {
	margin-top:4px;
	width:100px;
	height:30px;
	border:3px solid white;
	background-color:rgba(255, 255, 255, 0);
	color:white;
	font-family:sans-serif;
	font-weight: bold;
	font-size: 20px;
	border-radius: 5px;
	
	transition:background-color 1000ms, color 1000ms;
}

.left_right_btn:hover {
	background-color:rgba(255, 255, 255, 1);
	color:#222;
	cursor:pointer;
	
	transition:background-color 1000ms, color 1000ms;
}

.left_right_btn:focus { outline:none; }

.loadingText {
	display: block;
	text-align: center;
	color: white;
	font-size:28pt;
	font-family:serif;
	position:absolute;
	top:0px; bottom:0px; right:0px; left:0px;
	height:50px;

	cursor: default;
	
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.spinner {
	margin: auto auto;
	display: block;
	width:70px;
	height:50px;
	position:absolute;
	top:0px; bottom:0px; right:0px; left:0px;
	color: white;
	
	cursor: default;
	
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: white;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}